body {
  margin:50px auto;
  font-family: 'Lato', serif;
}


a {
    color:#CA5300;
}

a:hover {
  color:#FF852E;
}

.odd {
  background-color: #F1F1F1;
}

.even {
  background-color: #FBFBFB;
}


.song {
  padding:5px;
  border-left:5px solid #FFF;
}

.song .small{
  line-height: 20px;
  font-size: 0.7em;
  float: right;
}

.song .small a{
  color:#333;
  text-decoration:none;
  font-size:1em;
}

.song .small a:hover{
  color:#555;
}

.current {
  background-color: #DBDBDB;
  border-left:5px solid #999 !important;
}

.current_move {
  background-color: #EAD2CC;
  border-left:5px solid #D45E5E !important;
}

.pagination {
  text-align: right;
  margin-top: 20px;
}

#slider {
  height:10px;
  margin:10px 30px 20px 30px;
}

.bottom-bar {
  width: 100% ;
  height:45px;
  background-color:rgba(111, 111, 111, 0.7);
  position: fixed;
  bottom: 0px;
  z-index: 1000;
  padding: 10px;
}

.song_title, .song_time {
  height:45px;
  line-height:45px;
  margin-right:20px;
  text-align:right;
  float:right;
  font-size:1.2em;
}

.sideblock {
  margin-top:20px;
  padding: 10px;
}


#progress {
  height: 45px;
  width:800px;
  z-index: 1;
  position: relative;
}

.progress-outer {
  height: 45px;
}

.progress-inner {
  position:absolute;
  z-index: 2;
  position: absolute;
  top: 3px;
  z-index: 2;
  text-align: right;
  width: 100%;
}

#pro-playing {
  background-color: rgb(100, 100, 100);
  background-image: -moz-linear-gradient(top, rgb(100, 100, 100), rgb(179, 179, 179));
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(100, 100, 100)), to(rgb(179, 179, 179)));
  background-image: -webkit-linear-gradient(top, rgb(100, 100, 100), rgb(179, 179, 179))
  background-image: -o-linear-gradient(top, rgb(100, 100, 100), rgb(179, 179, 179));
  background-image: linear-gradient(to bottom, rgb(100, 100, 100), rgb(179, 179, 179));
  background-repeat: repeat-x;
}

#pro-loaded {
  background-color: rgb(238, 238, 238);
  background-image: -moz-linear-gradient(top, rgb(238, 238, 238), rgb(224, 224, 224));
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(238, 238, 238)), to(rgb(224, 224, 224)));
  background-image: -webkit-linear-gradient(top, rgb(238, 238, 238), rgb(224, 224, 224))
  background-image: -o-linear-gradient(top, rgb(238, 238, 238), rgb(224, 224, 224));
  background-image: linear-gradient(to bottom, rgb(238, 238, 238), rgb(224, 224, 224));
  background-repeat: repeat-x;
}

#sidebar {
  height: 90vh;
  position: fixed;
  overflow: auto;
  right: 0px;
}
