body {
  margin:0px auto;
  font-family: 'Lato', serif;
  background-color: #FFF;
}

.front {
    font-weight:bold;
}
a {
    color:#CA5300;
    font-size:0.9em;
}
a:hover {
  color:#FF852E;
}

#content {
  width:1200px;
  margin:20px auto;
}

#songs {
  width:840px;
  float:left;
}

#sidebar {
  font-family: 'Cabin', serif;
  width:350px;
  float:right;
  text-align: center;
}

.tag {
  margin:5px;
}

.tag a {
  text-decoration:none;
  color:#555;
}

.tag a:hover {
  color:#999;
}

.clear {
  clear: both;
}

.odd {
  background-color: #F1F1F1;
}

.even {
  background-color: #FBFBFB;
}

.unread {
  border-left: 5px solid #ccc !important;
}

.starred {
  border-left:5px solid yellow !important;
}

.song {
  padding:5px;
  border-left:5px solid #FFF;
}

.song .small{
  line-height: 20px;
  font-size: 0.7em;
  float: right;
}

.song .small a{
  color:#333;
  text-decoration:none;
  font-size:1em;
}

.song .small a:hover{
  color:#555;
}

.footer {
  margin:30px;
  text-align:right;
  font-size:0.7em;
}

.current {
  background-color: #DBDBDB;
  border-left:5px solid #999 !important;
}

.current_move {
  background-color: #EAD2CC;
  border-left:5px solid #D45E5E !important;
}

.pagination {
  text-align: right;
  margin-top: 20px;
}

#header {
  margin:0px;
  height:30px;
  background-color:#CFCFCF;
  line-height:30px;
}

#header .title {
  padding-left:10px;
  font-size:1.2em;
  float:left;
  width:200px;
}

#header .title a {
  color: #333;
  text-decoration: none;
}

#header .title a:hover {
  color: #777;
}

#header .nav {
  text-align:right;
  float:right;
  width:800px;
}

#header .nav ul {
  list-style-type: none;
  margin-left: 0;
  padding: 0 10px;
  display: inline;
}

#header .nav li {
  margin-left: 0;
  padding: 6px 10px;
  display: inline;
}

#header .nav li a {
  text-decoration:none;
}

form {
  display: inline;
}

#slider {
  height:10px;
  margin:10px 30px 20px 30px;
}